@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
--dark-mode-elements-color: hsl(209, 23%, 22%);
--dark-mode-background-color: hsl(207, 26%, 17%);

--light-mode-text-color: hsl(200, 15%, 8%);
--light-mode-input-color: hsl(0, 0%, 52%);
--light-mode-background-color: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  background-color: var(--light-mode-background-color);
}

main {
  padding: 50px;
}

.light-mode-elements {
  background-color: #fff;
}

.dark-mode-background {
  background-color: var(--dark-mode-background-color);
  color: #fff;
}

.dark-mode-elements {
  background-color: var(--dark-mode-elements-color) !important;
  color: #fff !important;
}
