:root {
  --dark-mode-elements-color: hsl(209, 23%, 22%);
  --dark-mode-background-color: hsl(207, 26%, 17%);

  --light-mode-text-color: hsl(200, 15%, 8%);
  --light-mode-input-color: hsl(0, 0%, 52%);
  --light-mode-background-color: hsl(0, 0%, 98%);
}

/*=== BUTTON BACK ===*/
.button-back a {
  padding: 10px 25px;
  font-size: 14px;
  text-decoration: none;
  color: var(--light-mode-input-color);
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ccc;
}

.button-back__icon {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.details__country-description {

  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
}

.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.details__flag img {
  width: 550px;
  height: 350px;
}

.details__border-countries {
  margin-top: 140px;
}
